/* ---------------------------------devcel.css--------------------------------------------- */
body    {background-color:brown;}
.mpage  {width:100%;font-size:63%;}
#Dd0,.apDiv1B div span.n3,#apDiv4 span.sa3	{display:none;}
img.nav1i  {float:right;width:85%;height:100%;}
.apDiv1A{float:left;width:21%;height:100%;display:flex;align-items:center;justify-content:center;}
.D1Asp1	{display:none;}
.apDiv1B{float:right;width:76%;height:100%;}
.list 	{margin:0;}
.n1		{font-size:55%;}
.n2		{font-size:70%;}
.spv 	{margin:2px 0;}
.spv2	{margin:3px 0;}
.apDiv2 {float:none;width:100%;min-width:210px;}
#tbmenu1 a    {font-size:88%;}
.apDiv3 {float:none;width:100%;min-width:210px;}
#im1 a 	{font-size:35%;}
#im1 div.iv3     {width:43%;}
#v43 div.iv43    {width:44%;}
#v44 div.iv3     {width:27%;}
span.sp4 		 {font-size:40%;}
#v46 div.iv33    {width:43%;}
span.sp3 	     {font-size:40%;}
#apDiv4 div {margin:2% auto;font-size:50%;}
/* ---------------------------------devcel.css--------------------------------------------- */