/* ---------------------------------devcel.css--------------------------------------------- */
body,html  {background-color:brown;}
.mpage  {width:100%;height:auto;font-size:63%;}
#apDiv1 {width:100%;height:80px;}
/*#Dd0,.apDiv1B div span.n3 {display:none;}*/
.apDiv1A{width:23%;}
span.D1Asp1	{margin:0;font-size:80%;}
.apDiv1B{margin-top:3px;margin-left:5px;}
.list	{margin:0 4px;}
.list span div {width:60px;}
.spv,.spv2	{margin:0;text-align:right;}
img.nav1i  {margin:0;max-width:72%;max-height:72%;}
#apDiv2,#apDiv3 {float:none;width:100%;min-width:235px;height:auto;margin:0;}
#apDivA {height:60%;}
#tbmenu1 img {height:70%;}
#tbmenu1 tr td    	 {height:35px; }
#tbmenu1 tr td div		{width:25%;height:90%;}
#tbmenu1 tr td div a	{font-size:160%;}
#v43 div:nth-child(1).iv43,#v43 div:nth-child(2).iv43{float:none;width:100%;min-width:210px;height:160px;margin:0;}
#im1 a 	{font-size:35%;}
#im1 div.iv3     {width:43%;}
#v44 div.iv3     {width:27%;}
span.sp4 		 {margin-top:18%;font-size:75%;}
#v46 div.iv33    {width:43%;}
span.sp3         {margin-top:16%;font-size:70%;}
#apDiv4 {height:50px;}
#apDiv4 div      {font-size:68%;}
#apDiv4 div img  {height:60%;}
/* ---------------------------------devcel.css--------------------------------------------- */