/* ---------------------------------devpcs.css--------------------------------------------- */
body    {background-color:black;}
.mpage  {width:950px;font-size:82%;} 
/* header,section,footer 	{display:block;width:100%;}
#tb 	{display:block;width:100%;height:auto;} */
.D1Asp1	{font-size:82%;}
.apDiv1B div {float:right;}
.n1,.n2	{margin:2px 9%;}
.n3		{margin:3px 0%;}
/*nav 	{float:left;width:235px;height:auto;margin:0;}*/
.apDiv2 {float:left;width:25%;}
#tbmenu1 a    {font-size:88%;}
/*artical	{float:right;width:708px;height:auto;margin:0;}*/
.apDiv3 {float:right;width:75%;}
span.sp3   {font-size:85%;}
span.sp4 	   {font-size:85%;}
#im1 div a {font-size:85%;}
#apDiv4 div {font-size:80%;}
/* ---------------------------------devpcs.css--------------------------------------------- */