/* ---------------------------------devpcl.css--------------------------------------------- */
body,html  {background-color:black;}
.mpage  {width:950px;}
/* header,section,footer 	{display:block;width:100%;}
#tb 	{display:block;width:100%;height:auto;} */
span.D1Asp1	{font-size:90%;}
.apDiv1B div {float:right;}
.list span div {width:90px;}
.spv 	{margin:1px 0.5%;}
.spv2	{margin:2px 0.5%;}
/*nav 	{float:left;width:235px;height:auto;margin:0;}*/
#tbmenu1 tr td div a b   {font-size:92%;}
/*artical	{float:right;width:708px;height:auto;margin:0;}*/
span.sp3   {font-size:85%;}
span.sp4 	   {font-size:85%;}
#im1 div a {font-size:85%;}
#apDiv4 div {font-size:85%;}
#apDiv4 div img  {height:70%;}
/* ---------------------------------devpcl.css--------------------------------------------- */